[submodule "software/libMcuLL"]
	path = software/libMcuLL
	url = git@github.com:Squantor/libMcuLL.git
[submodule "software/squantorLibC"]
	path = software/squantorLibC
	url = git@github.com:Squantor/squantorLibC.git
[submodule "electronics/squantorPcbLibrary"]
	path = electronics/squantorPcbLibrary
	url = git@github.com:Squantor/squantorPcbLibrary.git
[submodule "software/libEmbedded"]
	path = software/squantorLibEmbedded
	url = git@github.com:Squantor/squantorLibEmbedded.git
